@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  logs: true;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.navbar {
  background: rgba(0, 0, 0, 0.33);
  color: white;
}