@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  logs: true;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title {
  font-family: "David Libre", serif;
}

.navbar {
  background: rgba(0, 0, 0, 0.33);
  color: white;
}


.title-color {
  color: var(--color-gray-800);
}

.text-color {
  color: var(--color-gray-400);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}