@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  logs: true;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.navbar {
  background: rgba(0, 0, 0, 0.33);
  color: white;
}

@theme {
  --color-gray-50: oklch(0.98 0.004 260);       /* Muy claro */
  --color-gray-100: oklch(0.96 0.008 260);      /* Fondo claro */
  --color-gray-200: oklch(0.91 0.015 260);      /* Texto de inputs o cajas */
  --color-gray-300: oklch(0.85 0.025 260);      /* Líneas sutiles */
  --color-gray-400: oklch(0.70 0.035 260);      /* Textos secundarios */
  --color-gray-500: oklch(0.55 0.045 260);      /* Textos importantes */
  --color-gray-600: oklch(0.44 0.04 260);       /* Textos fuertes */
  --color-gray-700: oklch(0.36 0.04 260);       /* Íconos y títulos */
  --color-gray-800: oklch(0.25 0.035 260);      /* Fondo oscuro de sección */
  --color-gray-900: oklch(0.18 0.03 260);       /* Casi negro */
  --color-gray-950: oklch(0.12 0.03 260);       /* Negro profundo */
}